
<div class="container"> 
  <h1>
    {{title}}
  </h1>
  <form #form="ngForm">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Name" name="name" ngModel required>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" name="lastName" ngModel required>
    </div>  
    <div class="chechbox">
      <label>
        <input type="checkbox" name="isFullTime" ngModel> Full Time Employee
      </label>
    </div>
    <label > Tax Range</label>
    <div class="radio">
      <label>
        <input type="radio" name="taxRange" value="low" checked>
         Low range (20%)
        </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="taxRange" value="high">
         High range (40%)
        </label>
    </div>
    <div class="form-group">
      <label>Primary Language</label>
      <select name="primaryLanguage" class="form-control">
        <option *ngFor="let language of languages">
          {{language}}
        </option>
      </select>
    </div>
    <!--TODO. Use 3rd party form-->
    <!--<div class="form-group">
      <label>Date Hired </label>
      <input type="date" class="form-control" name="dateHired" ngModel required>
    </div>-->
    <button class="btn btn-primary" type="submit">OK</button>
  </form> 
</div>
